## Lab 05 - working with "Pandas".

#### What will learn:
        - Loading data and learning about the nature of data
        - Understanding the pandas Series and Dataframes
        - Retrieving customized information
        - Handling duplicate and missing values
        - Implementing statistical functions 
        - Data manipulation using observed behavior of the data (groupby, sort)
        - Appling custom function on the Dataframe
        - Saving the final resultant data after customization in a .csv file

#### Library we are Practicing in this Lab: https://pandas.pydata.org/docs/user_guide/index.html

You can use this documentation to make use of existing methods.

**01.** 
    <br>**a)** Import the pandas library to read the given .csv file (BankChurners.csv) as a dataframe.
    <br>**b)** Delete the last two columns of the dataframe and use the modified data for the further implementation.
    <br>**c)** Print the information (name of the columns, number of values in each column which are not null, data type of each column) using a function from the imported library.

In [ ]:
import pandas as pd
# a)
#Solution

In [ ]:
#b)
#Solution

In [ ]:
#c)
#Solution

**02.** 
<br>**a)** What is the type of the overall data and data loaded in any column.
<br>**b)** Is it possible to convert a series to a dataframe? Try to use a column from previous dataframe and make it a seperate dataframe.
<br>**c)** Insert a new column named 'Customer_Scaled_Age'. Calculate the value of this column by subtracting the minimum of the 'Customer_Age' from the original 'Customer_Age'.

In [ ]:
#a)
#Solution

In [ ]:
#b)
#Solution

In [ ]:
#c)
#Solution

**03.** 
<br>**a)** Print every 5th row of the DataFrame, starting from row 4000. (Hint: use steps while indexing)
<br>**b)** Create a dictionary for Income_Category where key is the income category and value is the count of customers in that category.
<br>**c)** What percentage of the clients are female?

In [ ]:
#a)
#Solution

In [ ]:
#b)
#Solution

In [ ]:
#c)
#Solution

**04.** Create a Dataframe of clients who are married, with an education at a graduate level and Attrited Customer

In [ ]:
#Solution

**05.** 
<br>**a)** Load the dataset 'ConProd.csv' as a dataframe.
<br>**b)** Check if any of the 'CLIENTNUM' is duplicated. (You can use duplicated value)
<br>**c)** DataSets often contain null values. What are the functions you can use to find the null values. Check the total number of null values in the whole dataframe.
<br>**d)** Fill the missing values in 'Wind+Solar' column using 'bfill' in the method argument and use this customized dataframe for further implementations. 
<br>**e)** Drop all the records still having any null values.

In [ ]:
#a)
#Solution

In [ ]:
#b)
#Solution

In [ ]:
#c)
#Solution

In [ ]:
#d)
#Solution

In [ ]:
#e)
#Solution

**06.** 
<br>**a)** Print a summary on the amount of consumption value available from 'ConProd' dataset. (use describe method)
<br>**b)** Return the index of the client with highest credit limit from the 'BankChurners' dataset.
<br>**c)** Find the correlation and covariance of the 'ConProd' dataset.
<br>**d)** Print the correlation and covariance between 'Consumption' and 'Wind+Solar' of the 'ConProd' dataset.

In [ ]:
#a)
#Solution

In [ ]:
#b)
#Solution

In [ ]:
#c)
#Solution

In [ ]:
#c)
#Solution

In [ ]:
#d)
#Solution

**07.** 
<br>**a)** For each Income_Category, print the minimum, maximum, mean and median of Total_Trans_Amt. Also, try to limit the output to 2 decimal places. 
<br>**b)** Sort the values of the clients using column 'Avg_Open_To_Buy' from 'BankChurners' dataset.
<br>**c)** Find the unique customer type from column 'Attrition_Flag' of the dataset 'BankChurners'.

In [ ]:
#a)
#Solution

In [ ]:
#b)
#Solution

In [ ]:
#c)
#Solution

**08.** 
<br>**a)** Print the average Total_Revolving_Bal for Customers for each Income_Category, Card_Category combination (Hint: Groupby)
<br>**b)** Print the dataframe 'ConProd' whose value of the 'Wind' column is greater that the mean value of the same column.

In [ ]:
#a)
#Solution

In [ ]:
#b)
#Solution

**09.** 
<br>**a)** Extract the first 10 cleints from 'BankChurners'
<br>**b)** Extract the last 10 cleints from 'BankChurners'
<br>**c)** Combine together the first 10 clients with the last 5 cleints from 'BankChurners' in a dataframe by row and make a new dataframe.
<br>**d)** Save the new dataframe returned in **c)** in a .csv file, explore different ways of saving
<br>**e)** Save the dataframe as a excel sheet and avoid having index in the saved file

In [ ]:
#a)
#Solution                                                           #picked the top 10 customers from the sorted list

In [ ]:
#b)
#Solution                                                         #picked the bottom 10 customers from the sorted list

In [ ]:
#c)
#Solution                                                       #appended bottom 10 customers rows after top 10 customers

In [ ]:
#d)
#Solution

In [ ]:
#e)
#Solution