# Lab 06 - Advance pandas operations and data cleaning 
## In this lab we are covering topics belonging to:
        - Data Aggregation
        - Apply general split-array-combine
        - Techniques for Method Chaining
        - Pivot Tables and Cross Tabulation

In [9]:
##  Import pandas as pd and numpy as np

Q1. Given a dataframe (df), consider grouping the dataframe with the key of "key1" and analyse the returned object. Is the object returned also the Dataframe? Print the object to see what is returns?

- With groupby method, get the average values of data1 and data2 and calculate the sum of the data1 and data2.
- Also use describe() method to display the output. Analyze the results.

In [3]:
df = pd.DataFrame({'key1': ['a', 'a', 'b', 'b', 'a'],
                  'key2': ['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.rand(5),
                  'data2': np.random.rand(5)})

In [ ]:
# TODO

Q2. Using the previous dataframe df, calculate the mean, sum and the standard deviation of data1 and data2 using aggregate in a single line.

a. The key1 and key2 columns have character and string values which produces NaN while calculating the mean and the standard deviation.
Try to use the dataframe to calculate everything, see the results and drop columns with NaN values. 

b. Try a different approach and use only columns to perform the same operations (mean, std, sum) in a single line.

In [ ]:
## a

In [ ]:
## b

Q3. See the below figure and create a dataframe as shown in the input. Split the data, apply sum and print the combined data.

Hint: Concept of split-apply-combine. Use groupby apply sum and combine.

<img src="https://jakevdp.github.io/PythonDataScienceHandbook/figures/03.08-split-apply-combine.png" width="800" height="400">

Image Source: https://jakevdp.github.io/PythonDataScienceHandbook/figures/03.08-split-apply-combine.png

In [ ]:
## TO DO
# figframe = pd.DataFrame({
#     "key" : ['A', 'B', 'C', 'A', 'B', 'C'],
#     "data" : range(1, 7)
# })

Q4. Given the following dataframe "sales", 

a. Convert the column values "date" from string to datetime. (use Pandas to_datetime) 

b. Generate pivot table to summarize the data in terms of sales_number according to the date and the region. 

Hint: Use pivot_table function. Indicate the index as date and region, value as the number and apply sum to the number.

c. Generate pivot table to show each day sales number. Show only date and total number of sales value.

In [4]:
sales = pd.DataFrame({
    "region" : ['SVG', 'OSL', 'BER', 'OSL', 'SVG', 'SVG', 'SVG', 'OSL', 'BER', 'OSL'],
    "sales_number" : [22, 45, 87, 76, 99, 29, 21, 67, 66, 98],
    "date" : ['050822', '050822', '090722', '220922', '020922', '220722', '220722', '050822', '090722', '220922']
})

In [ ]:
## a

In [ ]:
## b

In [ ]:
## c

Q5. Now consider the same dataframe "sales" to create a copy of dataframe sales_copy and use this dataframe.

a. Create a new column for sales price where the column name would be 'total_sales_kr' and the result should be the 110 times multiple of sales_number.

b. Rename the column name "region" to "city".

Perform (a) and (b) using Method Chaining technique. You may use lamda function for task (a).

In [ ]:
## TO DO

Q6. Create a function named dropsn which takes an argument of dataframe, drops column name "sales_number" and returns a updated dataframe. 

a. Use the function with pipe method in the same sales copy dataframe you created in the previous question to see the result. (Updated copy of sales dataframe without sales_number).

In [ ]:
##a:  TO DO

Q7. The tips dataset can be loaded from Seaborn library as shown below.

a. Display and analyse the dataset.

b. Create a new column named "tip_percentage" which equals to the tip of the day divided by the total_bill.

c. Group by or pivot based on the "day" and "sex". Calculate average value of tip and tip_percentage for the day and for corresponding sex.

You can install seaborn using "!pip install seaborn". Seaborn offers small datasets adn visualization tools.

In [6]:
# Seaborn package has a set of sample datasets: https://github.com/mwaskom/seaborn-data
# We can load them as a pandas DataFrame
import seaborn as sns

tips = sns.load_dataset('tips')

In [ ]:
##b:  TO DO

In [ ]:
##c:  TO DO

Q8. Using the same dataset,

a. Create a sepearate dataframe with the "sex" and "tip". With the new dataframe, group the dataframe by sex and apply a function (either user defined or lambda) which would return the describe() of the group.

--- The result would give the counts of total tips by each Male or Female, mean, std, .... (everything the describe method gives)

b. Create a new dataframe applying reset_index() to the resulting dataframe from (a). See the result and analyze what happens.

c. Rename the columns from dataframe (b): level_1 to statistics and tip to values. Group again by 'sex' and display results setting columns as values in statistics and values as value to each of the column.

For (c) you can use Pandas CrossTab to generate a Contingency Table.

https://en.wikipedia.org/wiki/Contingency_table

https://pandas.pydata.org/docs/reference/api/pandas.crosstab.html

In [329]:
##a: TO DO

In [ ]:
##b:  TO DO

In [ ]:
##c:  TO DO

Q9. Import the titantic dataset with seaborn.

a. Display the dataset information for analysis.

b. Select only 'sex' and 'survived' columns. fill the NA values and use Pandas get_dummies to create a dataframe. Use all of these in the single line using the Method Chaining.

-- fill NA values using amputation methods, you may use np.mean
-- Get to know what get_dummies function does.

-- In (b), analyze carefully on how you obtain the result, specifically the usage of get_dummies, how you get there and why you used specified process to get the result.

In [8]:
titanic = sns.load_dataset('titanic')

In [ ]:
##a: TO DO

In [ ]:
##b: TO DO

Q10. Using the same titanic dataset from Q.9,

a. Create a function to convert the format of sex from Male to M and Female to F. 

b. Label the age, 0-15 == 'Less than 15', 15 - 19 == 'Teen', 19 - 60 == 'Adult' and 60 - 110 == 'Senior', and create a column named 'age_group' to store these values.

c. Select passengers departing from Southampton i.e embark_town == Southampton

d. Drop n/a values: Create function for (a), (b). Method Chain to create seperately,
</br> use contingency table to verify the results.

Hint Useful functions: pd.replace, pd.cut, df.query(),

In [ ]:
##a: TO DO

In [ ]:
##b: TO DO

In [ ]:
##c: TO DO

In [ ]:
##d: TO DO